.CardEl {
  color: var(--color-primary);
  border-bottom: 1px solid;
  padding: 12px;
  margin: 30px 70px;
  border-radius: 7%;
  text-align: center;
  -webkit-animation-name: hovering;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: hovering;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes hovering {
  from {
    -webkit-transform: translate(0, 0%);
  }

  50% {
    -webkit-transform: translate(0, -25%);
  }

  to {
    -webkit-transform: translate(0, -0%);
  }
}

@-moz-keyframes hovering {
  from {
    -moz-transform: translate(0, 0%);
  }

  50% {
    -moz-transform: translate(0, -25%);
  }

  to {
    -moz-transform: translate(0, -0%);
  }
}

@keyframes hovering {
  from {
    transform: translate(0, 0%);
  }

  50% {
    transform: translate(0, -25%);
  }

  to {
    transform: translate(0, -0%);
  }
}

.CardEl h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.CardImage {
  border-radius: 47% 53% 68% 32% / 26% 51% 49% 74%;
}

.red {
  background: #912d27;
}

.blue {
  background: #203368;
}

.yellow {
  background: #e4ab43;
}

.green {
  background: #285931;
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1s infinite both;
  animation: wobble-hor-bottom 1s infinite both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
