.nav__bild__1 {
  background-image: url('../../images/icon.png');
}

.nav__bild__2 {
  background-image: url('../../images/wand.png');
}

.nav__bild__3 {
  background-image: url('../../images/wand2.png');
}

.nav__bild__4 {
  background-image: url('../../images/icon.png');
}
